<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
			<div class="subject">
				<h3>夺宝管理</h3>
				<h5>网站系统夺宝活动管理</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul></ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>夺宝活动续期列表</h3>
				<h5>(共{$page->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>

						<th align="left" abbr="article_time" axis="col6" class="">
							<div style="text-align: left; width: 30px;" class="">ID</div>
						</th>
						<th align="left" axis="col6">
							<div style="text-align: center; width: 60px;">操作</div>
						</th>
						<th align="left" abbr="article_time" axis="col6" class="">
							<div style="text-align: left; width: 50px;" class="">期数</div>
						</th>
						<th align="left" abbr="article_time" axis="col6" class="">
							<div style="text-align: left; width: 240px;" class="">商品名称</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 50px;" class="">商品价格</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 50px;" class="">商品库存</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 120px;" class="">结束时间</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">已卖份额</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">剩余份额</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">活动状态</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">自动续期</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">发布状态</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>

		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
						<foreach name="lists" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>               
							<td align="left" class="">
								<div style="text-align: left; width: 30px;">{$vo.act_id}</div>
							</td>
							<td class="handle" >
				                <div style="text-align:left;   min-width:50px !important; max-width:inherit !important;">
				                  <span class="btn"><em><i class="fa fa-cog"></i>操作<i class="arrow"></i></em>
				                  <ul>
									<if condition="$vo.is_publish eq '1'">
									<li><a href="{:U('Activity/orderList', array('act_id'=>$vo.act_id))}">购买记录</a></li>
									</if>
									
				                   
				                  </ul>
				                  </span>
				                </div>
				              </td>                
							<td align="left" class="">
								<div style="text-align: left; width: 50px;">{$vo.phase}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 240px;">{$vo.goods_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 50px;">{$vo.shop_price}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 50px;">{$vo.store_count}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">{$vo.end_time|date='Y-m-d H:i',###}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 50px;">{$vo.buy_count}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 50px;">{$vo.total_count-$vo.buy_count}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 50px;">
									<if condition="$vo.status eq 1"><span style="cursor: pointer;" toggle_text="正常-关闭" toggle_value="1-2" onclick="changeFieldVal('goods_activity', 'act_id', '{$vo.act_id}', 'status', this)">正常</span>
									<elseif condition="$vo.status eq '2'"><span style="cursor: pointer;" toggle_text="关闭-正常" toggle_value="2-1" onclick="changeFieldVal('goods_activity', 'act_id', '{$vo.act_id}', 'status', this)">关闭</span>
									<else>已结束
									</if>
								</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 50px;">
									<if condition="$vo.continue eq 1"><span style="cursor: pointer;" toggle_text="已开启-已关闭" toggle_value="1-2" onclick="changeFieldVal('goods_activity', 'act_id', '{$vo.act_id}', 'continue', this)">已开启</span>
									<elseif condition="$vo.continue eq '2'"><span style="cursor: pointer;" toggle_text="已关闭-已开启" toggle_value="2-1" onclick="changeFieldVal('goods_activity', 'act_id', '{$vo.act_id}', 'continue', this)">已关闭</span>
									</if>
								</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 50px;">
									<if condition="$vo.is_publish eq 1">
										已发布
									<else>
										<span style="cursor: pointer;" onclick="publish({$vo.act_id})">未发布</span>
									</if>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$showPage} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});
	});

	function publish(act_id){
		layer.confirm('发布后不可再编辑，确定发布吗？', {btn: ['确定','取消']}, function(){
			$.ajax({
				type : 'GET',
				url:"/index.php?m=Admin&c=Index&a=changeTableVal&table=goods_activity&id_name=act_id&id_value="+act_id+"&field=is_publish&value=1",
				dataType :'JSON',
				success : function(res){
					layer.msg('操作成功', {icon: 1});
					window.location.reload();
				}
			});
		}, function(index){
			layer.close(index);
			return false;// 取消
		});
	}

	function delfun(obj) {
		// 删除按钮
		layer.confirm('确认删除？', {
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
				url: $(obj).attr('data-url'),
				data : {act:'del',del_id:$(obj).attr('data-id')},
				dataType: 'json',
				success: function (data) {
					layer.closeAll();
					if (data) {
						$(obj).parent().parent().parent().remove();
					} else {
						layer.alert('删除失败', {icon: 2});  //alert('删除失败');
					}
				}
			})
		}, function () {
			layer.closeAll();
		});
	}

	// function robot(){

 //        layer.open({
 //            id:'add',
 //            title: '添加',
 //            type: 2,
 //            area: ['800px', '500px'],
 //            content: '?m=member&a=education_modify&l={$language}',
 //            btn: '确定',
 //            yes: function(index, layero){
 //                var btn_submit = layer.getChildFrame('.layui-btn', index);
 //                btn_submit.click();
 //            }
 //        })
	// }
</script>
</body>
</html>